.dashboard-comp {

    width: 85%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topbar-div {
    /* border: 1px solid black; */
    height: 30px;
}

.data-card-div {
    /* border: 2px solid red; */
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    font-family: sans-serif;
}

.graph-div {
    /* border: 2px solid red; */
    background-color: #ffff;
    border-radius: 10px;
    height: 240px;
    overflow: hidden;
}

.bottom-div {
    height: 200px;
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

@media screen and (max-width: 1000px) {
    .dashboard-comp {
        width: 100vw;
        
    }
    .data-card-div {
        /* border: 2px solid red; */
        height: auto;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 10px;
        font-family: sans-serif;
    }

    .graph-div {
        margin-top: 20px;
    }

    .bottom-div {
        /* border: 2px solid yellow; */
        grid-template-columns: auto auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    
    .data-card-div {
        /* border: 2px solid red; */
        
        grid-template-columns: auto;
    }

    .graph-div {
        height: auto;
    }

    .bottom-div {
        height: auto;
        grid-template-columns: auto;
    }
}