.dashboard-comp {
    /* border: 2px solid black; */
    width: 85%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topbar-div {
    /* border: 1px solid black; */
    height: 30px;
}

.data-card-div {
    /* border: 2px solid red; */
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    font-family: sans-serif;
}

.graph-div {
    /* border: 2px solid red; */
    background-color: #ffff;
    border-radius: 10px;
    height: 240px;
}

.bottom-div {
    height: 200px;
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}