.chart-head-div {
    padding: 20px 20px 0 20px;
    /* border: 1px solid black; */
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
}

.graph-legends-div {
    font-size: 13px;
    padding: 0 20px 0 8px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.graph-legends {
    display: flex;
    justify-content: center;
    align-items: center;
}

#month {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 10px;
    color: gray;
    font-weight: 500;
}

.circle {
    margin-left: 20px;
    margin-right: 5px;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}

.pink {
    background-color: #E9A0A0;
}

.green {
    background-color: #9BDD7C;
}