.pie-chart-comp {
    width: 100%;
    /* border: 2px solid rebeccapurple; */
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffff;
    padding: 20px 0 20px 0;
}

.pie-chart-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0 20px 0 20px;
}

.pie-chart-header form {
    border: none;
    font-size: 5px;
}

#startMonth {
    font-size: 10px;
    
    color: gray;
}

.pie-chart-main {
    display: flex;
}

.pie-chart-details {
    /* border: 1px solid black; */
    width: 45%;
    margin-right: 20px;
}

.pie-chartitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 5px 10px;
}

.item-name {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.item-amount {
    font-size: 10px;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: gray;
}

.pie-chart-inner {
    display: flex;
    align-items: center;
}

.yellow {
    background-color: #F6DC7D;
}

.white {
    background-color: #ffff;
}