.pie-chart-comp {
    /* width: 70%; */
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffff;
}

.pie-chart-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
}
