.schedule-page-comp {
    background-color: #F5F5F5;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: calc(100vh - 40px);
}

.schedule-page-div {
    border: 2px solid black;
    width: 85%;
}