@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@500&display=swap');

.sidebar-div {
    /* border: 2px solid red; */
    background-color: #000000;
    width: 15%;
    height: calc(100vh - 100px);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-top {
    /* border: 2px solid white; */
    color: white;
}

.sidebar-logo {
    margin-bottom: 40px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}



.logo-text {
    /* border: 2px solid white; */
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.active {
    color: red;
}

.sidebar-nav {
    /* border: 2px solid white; */
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.link {
    /* border: 2px solid yellow; */
    padding: 10px;
    display: flex;
    align-items: center;
    grid-gap: 15px;
    text-decoration: none;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
}

.sidebar-bottom {
    /* border: 2px solid white; */
    color: white;
}

.bottom {
    font-size: 13px;
}


.sidebar-top-bar {
    display: none;
}

@media screen and (max-width: 1000px) {
    .sidebar-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* border: 2px solid red; */
        background-color: #000000;
        font-weight: 600;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50px;
        padding: 5px;
    }

    .sidebar-top-bar .logo-text {
        margin-left: 10px;
    }

    .menu-btn {
        height: 50px;
        width: 50px;
        border: 2px solid #ffff;
        border-radius: 50%;
        margin-right: 25px;
        display: flex;
        justify-content: center;
    }

    .menu-btn img {
        height: 100%;
    }

    #close {
        display: none;
        
    }

    #open {
        position: fixed;
        display: flex;
        top: 0px;
        left: 0px;
        background-color: #000000;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: calc(100vh - 50px);
        border-radius: 0px;
        z-index: 999; 
    }
}