.users-comp {
    background-color: #F5F5F5;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: calc(100vh - 40px);
}

.users-div {
    /* border: 2px solid black; */
    width: 85%;
    padding: 20px;
}

.bold {
    font-size: 15px;
    font-weight: 600;
}

.users-sort {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
}

.users-sort button {
    /* border: 1px solid black; */
    padding: 5px;
    font-size: 10px;
    margin: 0 5px 0 5px;
    background-color: #ffffff;
    color: gray;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .users-div {
        /* border: 2px solid black; */
        margin-top: 50px;
        width: 100%;
    }
}